<ul class="post-container" style="align-content: center;">
<% postMatrix = @posts.each_slice(4).to_a %>
<% len = @posts.length/4 %>
<% len.times do |row| %>
  <% postMatrix[row].each do |post| %>
  <div style="width: 25%; display: inline-block;">
     <li>
        <h1><%= post.title %></h2><br>
        <p><%= post.body %><br></p>
    </li>
  </div>
  <% end %>
<% end %>
</div>
</ul>

<%= link_to 'Create a New Post', new_user_post_path, remote: true, id: "new-post-link" %>

